html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("/img/bg.jpg") no-repeat;
  background-size: 100%;
  min-height: 100%;
  background-color: #89dfef4d;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}
